http://www.dontpad.com/mat5a/mod1
wikidata dbpedia 
livro SPARQL
youtube what is linked data

1. Topico 1

1. Topico 2
    
    1. Sub topico 1
    
    1. Sub topico 2
    
        1. Sub sub topico 1
        
        1. Sub sub topico 2

# Chegou a hora de aprender Python

![quer saber?](https://media.giphy.com/media/iPTTjEt19igne/giphy.gif)

![siga](https://media.giphy.com/media/jzRnjCHIuIFQ4/giphy.gif)

## Por que aprender Python?

In [1]:
from IPython.display import HTML

link_youtube = 'https://www.youtube.com/embed/cKzP61Gjf00'

HTML(f'<iframe width="560" height="315" src="{link_youtube}" showinfo=1 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

# Antes de começar

## Nós estamos usando o Jupyter Lab. Por que?

In [2]:
# aqui vamos testar algumas coisas no jupyter lab

In [3]:
# bloco 1

In [4]:
# bloco 2

In [5]:
# bloco 3

In [6]:
# bloco 4

In [7]:
# bloco 5

### Atalhos do Jupyter

(completar com os alunos)

- Em modo Comandante (aperte o ```Esc```):

    - ```Shift``` + ```Espaço```: SOBE A TELA
    
    - ```Espaço``` : DESCE A TELA

    - ```Y``` :MODO EDIÇÃO 
    
    - ```Shift``` + ```Enter``` : RUN
    
    - ```M``` : MARKDOWN

    - ```Enter``` : MODO EDIÇÃO CÓDIGO
    
    - ```Seta pra cima``` : vai nas células de cima 
    
    - ```Seta pra baixo``` ...
    
    - ```Shift``` + ```Seta pra cima``` ...
    
    - ```Shift``` + ```Seta pra baixo``` ...
    
    - ```A``` ...
    
    - ```B``` ...
    
    - ```D``` + ```D``` ...
    
    - ```X``` ...
    
    - ```C``` ...
    
    - ```V``` ...
    
    - ```Shift``` + ```V``` ...
        
    - ```Z``` ...

In [8]:
# Em modo Edição:

# Shift + Enter
import pandas as pd

nome_da_variavel = 'Rrrrodou!'

print(nome_da_variavel)

Rrrrodou!

# Tab ... (1)
    pd.read_csv() shift dentro do enter dá a documentação

# Tab ... (2)

# Ctrl + A 

# shift + Seta pra cima ...

# shift + Seta pra baixo ...

# shift + Seta pra direita ...

# shift + Seta pra esquerda ...

# shift + D ...

# usando as setas

![boa!](https://media.giphy.com/media/nXxOjZrbnbRxS/giphy.gif)

# Repetição

Técnica ideal para iniciantes pois utiliza uma sequência de desafios controlados e projetados para você adquirir a habilidade de programar através da repetição. 

![luta](https://media.giphy.com/media/fSSGX7IHcqlDYwVYsH/giphy.gif)

## Os problemas vão ficando cada vez mais difíceis

![Hora de comecar](https://media.giphy.com/media/AoSMPAREugAAo/giphy.gif)

A única habilidade que separa os bons programadores dos ruins é a **atenção aos detalhes**. De fato, é isso que separa o bom do ruim em qualquer profissão.

## Não Copie e Cole

![Fraud](https://media.giphy.com/media/hgjNPEmAmpCMM/giphy.gif)

Se for para copiar e colar, não perca seu tempo usando esse manual!

**Tudo o que vale a pena é difícil no início.**

Mesmo que esteja difícil continue tentando. Com o tempo você descobrirá que tudo ficará mais fácil e divertido.

## A habilidade mais importante de um programador é a Resolução de Problemas


![habilidade](https://media.giphy.com/media/1flAwtHCYosL6LWnHr/giphy.gif)

Resolução de problemas significa:

- Capacidade de formular problemas
    
- Pensar criativamente em soluções 
    
- Expressar uma solução de forma clara e precisa.

No início você aprenderá a programar, depois usará a programação como um meio para um fim.

![math](https://media.giphy.com/media/BmmfETghGOPrW/giphy.gif)

# O que é um programa?

Um programa é uma sequência de instruções. 

Podemos resumir a **sequência de instruções** em:

- Parte de fora:
    
    - **Entrada:** Receber dados de um arquivo, rede, ou de algum dispositivo.

    - **Saída:** Exibir dados na tela, salvá-los em um arquivo, enviá-los pela rede, etc.

- Parte de dentro:

    - **Matemática:** Executar operações matemáticas básicas como adição e multiplicação.

    - **Execução condicional:** Verificar a existência de certas condições e executar o código adequado.

Basicamente, isso é tudo o que você precisa saber.

# Operadores

| Operador | Operação | Exemplo | Resposta |
| --- | --- | --- | --- |
| ** | Exponencial | 2 ** 3 | 8 |
| % | Módulo/Resto | 9%2 | 1 |
| // | Divisão Inteira | 21/4 | 5 |
| / | Divisão | 21/4 | 5.25 |
| * | Multiplicação | 2 * 3 | 6 |
| - | Subtração | 2 - 3 | -1 |
| + | Adição | 2 + 3 | 5 |

In [9]:
# Vamos realizar uns exemplos simples de matemática abaixo

2**3

8

In [10]:
3+4

7

In [11]:
3-5

-2

In [12]:
3*4

12

In [13]:
13/3

4.333333333333333

| Operador | Operação | Exemplo | Resposta |
| --- | --- | --- | --- |
| >= | Maior Igual | 2 >= 2 | True |
| > | Maior | 2 > 2 | False |
| <= | Menor Igual | 3 <= 3 | True |
| < | Menor | 3 < 2 | False |
| == | Igual (comparação) | 3 == 3 | True |
| != | Diferente | 2 != 3 | True |

In [14]:
nivel_universitario = True
ingles = True

In [15]:
nivel_universitario and ingles

True

In [16]:
# Vamos realizar uns exemplos simples de execução condicional abaixo

| Expressão | Avaliada como... 
| --- | --- | 
| True and True | True |
| True and False | False |
| False and True | False |
| False and False | False |

| Expressão | Avaliada como... 
| --- | --- | 
| True or True | True |
| True or False | True |
| False or True | True |
| False or False | False |

| Expressão | Avaliada como... 
| --- | --- | 
| not True | False |
| not False | True |

# O que são tipos de dados? Quais são os principais tipos de dados no Python?

## Int (inteiro)

In [17]:
# Exemplos de int

## Float (ponto flutuante)

In [18]:
# Exemplos de float

## Array (listas)

In [19]:
# Exemplos de Array

In [20]:
# Acessando valores

In [21]:
# Removendo valores

In [22]:
# Ordenando listas

In [23]:
# Ordem Inversa

In [24]:
# Listas numericas

## Strings (texto)

In [25]:
# Exemplos de Texto

In [26]:
# Alguns métodos de String

In [27]:
# Contatenando variaveis de String

## Bools (Verdadeiro e Falso)

In [28]:
# Exemplos de Verdadeiros e Falsos

# Funções

In [29]:
# sobre funcoes

In [30]:
# passando argumentos

In [31]:
# retornando valores

# Exercícios

## Mudando os tipos de dados

```python

str() # converter para textp
int() # converter para inteiro
float() # converter para float

```

# Exercícios

## Quantos segundos há em 55 minutos e 55 segundos?

Vamos criar uma variável chamada resposta e **atribuir** valor a ela.

In [32]:
# digite a sua resposta após da declaração da variável resposta
resposta = 55 * 60 + 55

In [33]:
# fazendo o output da resposta
resposta

3355

**Resultado =** 3355

## Imprimindo a resposta com texto

In [34]:
print(f"A reposta para a pergunta acima é {resposta} segundos.")

A reposta para a pergunta acima é 3355 segundos.

Podemos ver que temos um ```f``` antes das aspas duplas ```"```. Com ela posta podemos imprimir nossas variáveis dentro das funções ```print()``` colocando as variáveis entre chaves ```{}```.

In [35]:
dois = 2
quatro = 4

dois_vezes_quatro = 2 * 4

print("por que não imprimiu o resultado de {dois} vezes {quatro}?")

por que não imprimiu o resultado de {dois} vezes {quatro}?

In [36]:
print(f"Aqui imprimiu o resultado de {dois} vezes {quatro}, que é {dois_vezes_quatro}. Por que?")

Aqui imprimiu o resultado de 2 vezes 4, que é 8. Por que?

Observe que na expressão acima video ```2``` e não ```{dois}```. Por que?

# Importando Bibliotecas

In [37]:
# importando a biblioteca math

# Dados

Hoje em dia negócios devem ser mais lucrativos, reagir mais rapidamente e oferecer produtos e serviços de maior qualidade, e ainda fazer tudo isso com menos pessoas e a um menor custo. Uma exigência essencial nesse processo é a criação e o gerenciamento de conhecimento eficaz. Não há falta de informação, mas escassez de conhecimento. 

A informação disponível na tomada de decisões explodiu nos últimos anos e irá continuar assim no futuro, provavelmente até mais rapidamente. Até recentemente, muito dessa informação simplesmente desaparecia. Ou não era coletada, ou era descartada. Hoje, essa informação está sendo coletada e armazenada em bancos de dados e está disponível para ser feita a “garimpagem” para fins de melhoria na tomada de decisões.

In [38]:
import pandas as pd

In [39]:
data = [['Sim', 'Sim', 'Sim', 'Sim'], ['Não', 'Sim', 'Sim', 'Sim'],
        ['Não', 'Não', 'Sim', 'Sim'], ['Não', 'Não', 'Não', 'Sim']]
pd.DataFrame(data, columns=["Nominal", "Ordinal", "Intervalar", "Razão"], 
             index=['Pode ser Etiquetada', 'Ordem é Significativa', 'Diferença é Mensurável', 'Zero como ponto de partida'])

                           Nominal Ordinal Intervalar Razão
Pode ser Etiquetada            Sim     Sim        Sim   Sim
Ordem é Significativa          Não     Sim        Sim   Sim
Diferença é Mensurável         Não     Não        Sim   Sim
Zero como ponto de partida     Não     Não        Não   Sim

In [40]:
data = [['Sim', 'Não', 'Não', 'Não'], ['Sim', 'Sim', 'Não', 'Não'],
        ['Sim', 'Sim', 'Sim', 'Não'], ['Sim', 'Sim', 'Sim', 'Sim']]
pd.DataFrame(data, columns=["=/≠", "</>", "+/-", "*/÷"], 
             index=["Nominal", "Ordinal", "Intervalar", "Razão"])

            =/≠  </>  +/-  */÷
Nominal     Sim  Não  Não  Não
Ordinal     Sim  Sim  Não  Não
Intervalar  Sim  Sim  Sim  Não
Razão       Sim  Sim  Sim  Sim

## Escalas de medida não-métrica

Medidas que indicam a presença ou ausência de uma característica ou propriedade.

O analista não pode realizar nenhuma operação aritmética (somas, médias, multiplicações, divisões etc.), tornando assim todos os dados não-métricos bastante limitados em seu uso na estimação de coeficientes do modelo. 

### Escalas nominais

Uma escala nominal designa números para rotular ou identificar indivíduos ou objetos.

Dados nominais representam somente categorias ou classes, e não implicam quantias de um atributo ou característica. Exemplos freqüentemente usados de dados nominalmente escalonados incluem diversos **atributos demográficos (como sexo, religião, ocupação ou filiação partidária)**, muitas formas de comportamento (como comportamento de voto ou atividade de compra), **ou qualquer outra ação que seja discreta (que acontece ou não)**.

### Escalas ordinais

Escalas ordinais são o próximo nível “superior” de precisão em medida. No caso de escalas ordinais, variáveis **podem ser ordenadas ou ranqueadas** em relação à quantia do atributo possuída. Todo **indivíduo ou objeto pode ser comparado com outro em termos de uma relação da forma “maior que” ou “menor que”**. Os números empregados em escalas ordinais, contudo, são realmente não-quantitativos porque eles indicam apenas posições relativas em uma série ordenada. **Escalas ordinais não fornecem qualquer medida da quantia ou magnitude real em termos absolutos**, mas apenas a ordem dos valores. O pesquisador conhece a ordem, mas não a quantia de diferença entre os valores.

In [41]:
import pandas as pd

# Escala Nominal

1. Qualitativa / Categórica
2. Ordem não importa
2. Nomes, Cores, Gêneros
4. Ou são iguais ou diferentes
5. Medições
    1. Qui Quadrado
    2. Moda (o que mais aparece)
    3. Percentual Modal 
    4. Distribuição de Frequência
    6. Não se pode calcular a médias
6. Gráficos
    1. Pizza
    2. Barras

In [42]:
# pandas 
import pandas as pd

In [43]:
# Conhecendo um DataFrame (um tipo de tabela)
df = pd.read_csv('candidatos_deputados_2014_final.csv', 
                 encoding = 'latin-1')

In [44]:
df.head()

,SIGLA_UF,CODIGO_CARGO,DESCRICAO_CARGO,NOME_CANDIDATO,SEQUENCIAL_CANDIDATO,COD_SITUACAO_CANDIDATURA,DES_SITUACAO_CANDIDATURA,NUMERO_PARTIDO,CODIGO_LEGENDA,CODIGO_OCUPACAO,...,TP_RECEITA_APLICACAO,TP_RECEITA_EVENTO,TP_RECEITA_FISICA,TP_RECEITA_INTERNET,TP_RECEITA_JURIDICA,TP_RECEITA_NAO_IDENTIFICADA,TP_RECEITA_OUTRO,TP_RECEITA_PARTIDO,TP_RECEITA_PROPRIO,VALOR_RECEITA
0,AC,7,DEPUTADO ESTADUAL,BENEDITO SILVA BARBOSA,10000000504,2,DEFERIDO,23,10000000034,266,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,690.5,1500.0,2190.50
1,AC,7,DEPUTADO ESTADUAL,MARIA APARECIDA ALVES DE SOUZA,10000000055,2,DEFERIDO,12,10000000021,254,...,0.0,0.0,0.0,0.0,0.0,0.0,821.88,0.0,0.0,821.88
2,AC,7,DEPUTADO ESTADUAL,ASTÉRIO DE PAULA MOREIRA FILHO,10000000206,2,DEFERIDO,51,10000000028,277,...,0.0,0.0,18100.0,0.0,0.0,0.0,36505.00,17500.0,34500.0,106605.00
3,AC,7,DEPUTADO ESTADUAL,JOSÉ MASTRANGELO FILHO,10000000514,2,DEFERIDO,23,10000000034,171,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,6500.0,6500.00
4,AC,7,DEPUTADO ESTADUAL,CARLOS ANDRÉ MENEZES DE OLIVEIRA,10000000519,2,DEFERIDO,23,10000000034,244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.tail()

,SIGLA_UF,CODIGO_CARGO,DESCRICAO_CARGO,NOME_CANDIDATO,SEQUENCIAL_CANDIDATO,COD_SITUACAO_CANDIDATURA,DES_SITUACAO_CANDIDATURA,NUMERO_PARTIDO,CODIGO_LEGENDA,CODIGO_OCUPACAO,...,TP_RECEITA_APLICACAO,TP_RECEITA_EVENTO,TP_RECEITA_FISICA,TP_RECEITA_INTERNET,TP_RECEITA_JURIDICA,TP_RECEITA_NAO_IDENTIFICADA,TP_RECEITA_OUTRO,TP_RECEITA_PARTIDO,TP_RECEITA_PROPRIO,VALOR_RECEITA
21119,TO,7,DEPUTADO ESTADUAL,JOÃO FERREIRA DOS SANTOS,270000000186,2,DEFERIDO,20,270000000008,297,...,0.0,0.0,0.0,0.0,0.0,0.0,1453.05,0.0,0.0,1453.05
21120,TO,7,DEPUTADO ESTADUAL,ANTÔNIO EVANGELISTA PEREIRA JUNIOR,270000000215,2,DEFERIDO,28,270000000008,999,...,0.0,0.0,109600.0,0.0,27700.0,0.0,22663.69,0.0,61930.0,221893.69
21121,TO,6,DEPUTADO FEDERAL,WALTER BARROSO VITORINO JUNIOR,270000000282,2,DEFERIDO,77,270000000010,278,...,0.0,0.0,71600.0,0.0,0.0,0.0,18241.21,0.0,10083.4,99924.61
21122,TO,7,DEPUTADO ESTADUAL,GLAUCO RAFAEL DA COSTA MADUREIRA,270000000212,2,DEFERIDO,12,270000000008,297,...,0.0,0.0,1000.0,0.0,0.0,0.0,9839.69,17000.0,8831.4,36671.09
21123,TO,7,DEPUTADO ESTADUAL,HOMERO BARRETO JUNIOR,270000000222,2,DEFERIDO,31,270000000008,999,...,0.0,0.0,7864.0,0.0,0.0,0.0,31424.58,0.0,2800.0,42088.58

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21124 entries, 0 to 21123
Data columns (total 56 columns):
SIGLA_UF                       21124 non-null object
CODIGO_CARGO                   21124 non-null int64
DESCRICAO_CARGO                21124 non-null object
NOME_CANDIDATO                 21124 non-null object
SEQUENCIAL_CANDIDATO           21124 non-null int64
COD_SITUACAO_CANDIDATURA       21124 non-null int64
DES_SITUACAO_CANDIDATURA       21124 non-null object
NUMERO_PARTIDO                 21124 non-null int64
CODIGO_LEGENDA                 21124 non-null int64
CODIGO_OCUPACAO                21124 non-null int64
DESCRICAO_OCUPACAO             21124 non-null object
IDADE_DATA_ELEICAO             21124 non-null int64
CODIGO_SEXO                    21124 non-null int64
DESCRICAO_SEXO                 21124 non-null object
COD_GRAU_INSTRUCAO             21124 non-null int64
DESCRICAO_GRAU_INSTRUCAO       21124 non-null object
CODIGO_ESTADO_CIVIL            21124 non-null int64
DESCRICAO_ESTADO_CIVIL         21124 non-null object
CODIGO_COR_RACA                21124 non-null int64
DESCRICAO_COR_RACA             21124 non-null object
CODIGO_NACIONALIDADE           21124 non-null int64
DESCRICAO_NACIONALIDADE        21124 non-null object
DESPESA_MAX_CAMPANHA           21124 non-null int64
COD_SIT_TOT_TURNO              21124 non-null int64
DESC_SIT_TOT_TURNO             21124 non-null object
VALOR_BEM                      12865 non-null float64
SETOR_A                        17728 non-null float64
SETOR_B                        17728 non-null float64
SETOR_C                        17728 non-null float64
SETOR_D                        17728 non-null float64
SETOR_E                        17728 non-null float64
SETOR_F                        17728 non-null float64
SETOR_G                        17728 non-null float64
SETOR_H                        17728 non-null float64
SETOR_I                        17728 non-null float64
SETOR_J                        17728 non-null float64
SETOR_K                        17728 non-null float64
SETOR_L                        17728 non-null float64
SETOR_M                        17728 non-null float64
SETOR_N                        17728 non-null float64
SETOR_O                        17728 non-null float64
SETOR_P                        17728 non-null float64
SETOR_Q                        17728 non-null float64
SETOR_R                        17728 non-null float64
SETOR_S                        17728 non-null float64
SETOR_NAO_IDENTIFICADO         17728 non-null float64
TP_RECEITA_APLICACAO           17728 non-null float64
TP_RECEITA_EVENTO              17728 non-null float64
TP_RECEITA_FISICA              17728 non-null float64
TP_RECEITA_INTERNET            17728 non-null float64
TP_RECEITA_JURIDICA            17728 non-null float64
TP_RECEITA_NAO_IDENTIFICADA    17728 non-null float64
TP_RECEITA_OUTRO               17728 non-null float64
TP_RECEITA_PARTIDO             17728 non-null float64
TP_RECEITA_PROPRIO             17728 non-null float64
VALOR_RECEITA                  17728 non-null float64
dtypes: float64(31), int64(14), object(11)
memory usage: 9.0+ MB

In [48]:
# Selecionando Linhas e Colunas

In [ ]:
df['DESCRICAO_SEXO'].value_counts().plot.bar()

In [ ]:
df.NUMERO_PARTIDO.value_counts(normalize = True).head(4).plot.bar(figsize=[16,8])
#figsize tamanho do gráfico, ficou maior 
#normalize faz porcentagem 
#ver matplotlib cookbook no github e tem livro também
#Se eu faço .head(4) mostro só os quatro primeiros no gráfico

DESCRICAO_GRAU_INSTRUCAO
DESCRICAO_ESTADO_CIVIL
DESCRICAO_NACIONALIDADE
DESCRICAO_CARGO
DESCRICAO_COR_RACA

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].value_counts().plot.bar()

In [ ]:
df['DESCRICAO_ESTADO_CIVIL'].value_counts().plot.bar()

In [ ]:
df['DESCRICAO_NACIONALIDADE'].value_counts()

In [ ]:
df['DESCRICAO_CARGO'].value_counts()

In [ ]:
df['DESCRICAO_COR_RACA'].value_counts() #frequencia

In [ ]:
#agrupamentos
#groupby
#groupby(o que agregar, nesse caso estado)[var_saida, aqui masc/fem].como
df.groupby(['SIGLA_UF'])['DESCRICAO_SEXO'].value_counts()

In [ ]:
filtro_coluna = ['SIGLA_UF','DESCRICAO_SEXO']

In [ ]:
filtro_masc = df[filtro_coluna]['DESCRICAO_SEXO'] == 'MASCULINO'

In [ ]:
df_filtrado = df[filtro_coluna][filtro_masc]

In [ ]:
df_filtrado.head()

In [ ]:
df.head(2)

In [ ]:
filtro_homem = df.DESCRICAO_SEXO == 'MASCULINO' #df.tab aparecem todas as colunas
filtro_sp = df.SIGLA_UF == 'SP'

In [ ]:
df[filtro_homem & filtro_sp].head()

In [ ]:
df[filtro_homem & filtro_sp].shape

In [ ]:
df.columns

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].unique()

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].nunique()

In [ ]:
projetar = {'LÊ E ESCREVE': 1,
'ENSINO FUNDAMENTAL INCOMPLETO':2,
'ENSINO FUNDAMENTAL COMPLETO': 3,
'ENSINO MÉDIO INCOMPLETO': 4,
'ENSINO MÉDIO COMPLETO': 5,
'SUPERIOR INCOMPLETO': 6,
'SUPERIOR COMPLETO':7}

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].head(3)

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].head(3).map(projetar)
# transforma as strings em dados para fazer média e outros cálculos 
# posso pegar uma faixa de idade de 0 a 15 anos e ser número 1

In [ ]:
df['DESCRICAO_GRAU_INSTRUCAO'].map(projetar).value_counts().plot.pie()
# consigo mapear com números a formação dos candidatos

In [ ]:
df['CODIGO_GRAU_INSTRUCAO'] = df['DESCRICAO_GRAU_INSTRUCAO'].map(projetar)
#criei nova coluna com os dados do map

In [ ]:
df.VALOR_BEM.isna().sum() # número de valores nulos de cada coluna

In [ ]:
df.VALOR_BEM.fillna()

In [ ]:
xy= df.groupby('CODIGO_GRAU_INSTRUCAO')['VALOR_BEM'].mean().reset_index()
xy
#fazer sem reset_index para testar

In [ ]:
xy.plot.scatter(x='CODIGO_GRAU_INSTRUCAO', y='VALOR_BEM')

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
modelo = LinearRegression()

In [ ]:
modelo.fit(X = xy.CODIGO_GRAU_INSTRUCAO.values.reshape(-1,1),
           y = xy.VALOR_BEM)

In [ ]:
import numpy as np

In [ ]:
x=np.arange(8).reshape(-1,1)

In [ ]:
modelo.predict(x)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
xy.plot.scatter(x = 'CODIGO_GRAU_INSTRUCAO', y='VALOR_BEM')
plt.plot(modelo.predict(x), c='y') # o c é parâmetro de cor y de yellow

In [ ]:
xy.CODIGO_GRAU_INSTRUCAO.values

In [ ]:
xy.CODIGO_GRAU_INSTRUCAO.values.ndim # número de dimensões

In [ ]:
# vou fazer duas dimensões
xy.CODIGO_GRAU_INSTRUCAO.values.reshape(-1,1)

In [ ]:
# Agregando Dados

In [ ]:
# Criando e Salvando Novas Tabelas

In [ ]:
# Ordenando valores

In [ ]:
# Substituindo valores

In [ ]:
# Adicionando novas informações usando .cut

In [ ]:
# Adicionando novas informações usando operações matemáticas

In [ ]:
# Deletando informações em Séries e DataFrames .drop

In [ ]:
# Filtrando dados por condições

# Escala Ordinal
1. Rankeamento
    1. Lugar que terminou a competição (mas não sabemos dizer o quão rápido vc foi na corrida)
    2. Estatus socio-economico


2. Ordem importa


3. São iguais ou diferentes, mas também maiores e menores


4. Diferenças não podem ser medidas


5. Medições
    1. Media 
    2. Percentil (Percentile) 
    3. Nao se pode calcular a média pq a diferenca entre valores na escala não é sabido


6. Gráficos
    1. Barras

# Agrupamentos

In [ ]:
pd.read_csv('datasets/Consumo_cerveja.csv') #datasets barra e tab para abrir o menu

# Fim

![Fim](https://media.giphy.com/media/V2ojLo7PvhVug/giphy.gif)